<div class="container">
  <h5 class="my-5 ml-5">カテゴリー一覧</h5>
  <div class="row justify-content-center mx-5">
    <% @categories.each do |cat| %>
      <div class="col-12 col-lg-6">
        <div class="row card task-card">
          <p class="col-2 mb-0 circle" style="color: <%= cat.color_code %>">●</p>
          <p class="col-8 card-title"><%= cat.name %></p>
          <%= link_to(edit_category_path(cat.id), class: "col-2 btn") do %>
            <i class="material-icons">edit</i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
